ul.items
  li.item(ng-repeat="item in items", toggle="true")
    | {{item}}

md-content
  md-input-container
    input(type="text", ng-model="itemInput", ng-keydown="handleInput($event)")
  md-button.md-raised.md-primary(ng-click="add()") Add
  md-button.md-raised.md-primary(ng-click="next()") Next
