ul.items
  li.item(ng-repeat="item in items", toggle="true")
    | {{item}}

div
  input(type="text", ng-model="itemInput", ng-keydown="handleInput($event)")
  button(ng-click="add()") Add
  button(ng-click="next()") Next
