div#tabs
    div(ng-class='{selected: isSelected(1)}', ng-click="setTab('general')") General 
    div(ng-class='{selected: isSelected(2)}', ng-click="setTab('item')") Item spent amount
    div(ng-class='{selected: isSelected(3)}') Monthly spent