tabs-component
    width 100%
    #tabs
        display flex
        justify-content flex-start
        border 1px solid black
        div
            text-align center
        :nth-child(1)
            // display flex
            flex 1 0 auto
        :nth-child(2)
            // display flex
            flex 1 0 auto
        :nth-child(3)
            // display flex
            flex 1 0 auto