h1 {{title}}
div#container
    side-bar-component
    div#innerContainer
        tabs-component
        wallet-info-component
        div#timeLine(ng-switch on='tab()')
            ul(ng-switch-when="general")
                li(ng-repeat='expenditure in info.list')
                    div {{expenditure.name}}
                    div {{expenditure.amount}}
        add-menu-component