home-component
  display flex
  flex-direction column
  height 100%
  h1
    color darkblue
    border 1px solid black
    margin 0
    padding 20px
  #container
    display flex
    height 100%
    border 1px solid black
    #innerContainer
      position relative
      display: flex;
      flex-direction: column;
      width 100%
      border 1px solid black
      
      ul
        margin 0
        height 100%
        border 1px solid black
      #add
        display flex
        position absolute
        bottom  30px
        right 30px
        border 1px solid black
        border-radius 100%
        width 40px
        height 40px
        justify-content center
        align-items center
      #addMenu
        position absolute
        bottom 100px;
        right 30px;
        width 100px;
        height 100px;
        border  1px solid black
        div
          padding 6px 0 6px 10px
          text-align left
      #spentAddBar
        position absolute
        bottom  40px
