<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Pockette
    link(rel="stylesheet", href="./style.css")
    script(src="./index.js")
  body(ng-app="pockette")
    div(ng-controller="Controller")
      h1 {{title}}
